<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Platform</title>
  </head>
  <body>
    <div id="app">
      <div v-if="event">
        <h1>{{event.name}}</h1>
        <h2>Your username is {{username}}</h2>
        <h3>View: {{view}}</h3>

        <div v-if="view == 'lobby'">
          <button @click="enterStage">Enter stage</button>
          <button @click="enterStage(event, 'speaker')">Enter stage as speaker</button>
          <ul>
            <li v-for="table in event.tables">
              <span @click="joinTable(table.id)"> {{table.name}} ({{table.members.length}} people) </span>
            </li>
          </ul>
        </div>

        <div v-if="view == 'table'">
          <button @click="returnToLobby">Return to lobby</button>
          <div id="publishers"></div>
          <div id="subscribers"></div>
        </div>

        <div v-if="view == 'stage'">
          <button @click="returnToLobby">Return to lobby</button>
          <div id="publishers"></div>
          <div id="subscribers"></div>
          <div class="controls" v-if="speaker">
            <h3>Speaker Controls</h3>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="event.js"></script>
  </body>
</html>
