<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Platform</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <div v-if="event">

        <header>
          <h1>{{event.name}}</h1>
          <span>Your username is {{username}}</span>
          <span>View: {{view}}</span>
        </header>


        <div id="lobby" class="w" v-if="view == 'lobby'">
          <div class="intro">
            <h2>Welcome to {{event.name}}!</h2>
            <p>{{event.welcome}}</p>
          </div>
          <div class="stage">
            <button class="btn white" @click="enterStage">Enter stage</button>
            <button class="btn white" @click="enterStage(event, 'speaker')">Enter stage as speaker</button>
          </div>
          <ul class="tables">
            <li class="table" v-for="table in event.tables">
              <h3>{{table.name}}</h3>
              <button class="btn" @click="joinTable(table.id)">Go to table</button>
            </li>
          </ul>
        </div>

        <div class="w" v-if="view == 'table'">
          <button class="nav btn" @click="returnToLobby">Return to lobby</button>
          <div id="publishers"></div>
          <div id="subscribers"></div>
        </div>

        <div v-if="view == 'stage'">
          <button class="nav btn" @click="returnToLobby">Return to lobby</button>
          <div id="publishers"></div>
          <div id="subscribers"></div>
          <div class="controls" v-if="speaker">
            <h3>Speaker Controls</h3>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="event.js"></script>
  </body>
</html>
